[Unit]
Description=Mailbox synchronization service for account %I

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync %i
ExecStartPost=/usr/bin/notmuch new
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=10m
